body {
  font-family: Optima-Regular, PingFangSC-light;
}
.wrapper {
  font-size: 16px;
  font-family: Optima-Regular, PingFangSC-light;
}
.wrapper p {
  font-size: 16px;
  white-space: pre-line;
  /* line-height: 30px; */
  line-height: 160%;
  /* color: #4a4a4a; */
  color: #333;
}
.wrapper h1, h2, h3, h4, h5, h6 {
  margin: 30px 0 20px 0;
  /* color: #333; */
  color: #111;
  border-left: 8px solid #fef401;
  padding: 0 10px 0 10px;
  font-family: Optima-Regular, PingFangSC-light;
}
.wrapper blockquote {
  line-height: 22px;
}
.wrapper blockquote p {
  font-size: 14px;
}
.wrapper h1 {
  font-size: 28px;
}
.wrapper h2 {
  font-size: 24px;
}
.wrapper h3 {
  font-size: 20px;
}
.wrapper h4 {
  font-size: 18px;
}

/* .wrapper ul li, .wrapper ol li {
  font-family: Optima-Regular, PingFangSC-light;
} */
div#outputCtt> ol> li> span> span, div#outputCtt> ul> li> span> span {
  line-height: 160%;
  font-family: Optima-Regular, PingFangSC-light;
  font-size: 16px !important;
  color: #333;
}

/* .wrapper ul li span span, .wrapper ol li span span {
  line-height: 160%;
  font-family: Optima-Regular, PingFangSC-light !important;
  font-size: 16px !important;
} */

strong, b {
  /* font-weight: bold; */
  font-weight: normal;
  background: #fef401;
}

/* Code */
pre.prettyprint {
  font-size: 14px;
}
div#outputCtt> pre> ol> li> span> span> code> span {
  font-size: 14px !important;
  font-family: monaco, menlo !important;
}
