body {
  font-family: -apple-system-font;
}
p {
  margin-top: 20px;
  margin-bottom: 20px;
}
img {
  border: none;
  border-radius: 0;
}
.table {
  font-size: 10px;
}
.wrapper {
  font-size: 16px;
  font-family: -apple-system-font;
}
.wrapper p {
  font-size: 16px;
  white-space: pre-line;
  /* line-height: 30px; */
  line-height: 160%;
  /* color: #4a4a4a; */
  /* color: #333; */
  color: #111;
  font-family: -apple-system-font;
}
.wrapper h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 0 0;
  font-family: -apple-system-font;
  color: #111;
  background: linear-gradient(to top, #fef401 50%, #fff 50%);
  display: inline-block;
}
.wrapper blockquote {
  /* line-height: 22px; */
  line-height: 160%;
  border-radius: 5px;

  /* 黄色调 */
  /* background: #FBFAEF;
  border-left: 10px solid #FAF699; */

  /* 灰色调 */
  background: #F7F7F7;
  border-left: 10px solid #EBEBEB;
}
.wrapper blockquote p {
  font-size: 15px;
}
.wrapper h1 {
  font-size: 28px;
}
.wrapper h2 {
  font-size: 24px;
}
.wrapper h3 {
  font-size: 20px;
}
.wrapper h4 {
  font-size: 18px;
}

.wrapper ul li span span, .wrapper ol li span span {
  line-height: 160%;
  font-size: 16px !important;
  font-family: Avenir, -apple-system-font !important;
}

strong, b {
  /* font-weight: bold; */
  font-weight: normal;
  /* background: #fef401; */
  background: linear-gradient(to top, #fef401 50%, #fff 50%);
}

/* Code */
pre.prettyprint {
  font-size: 14px;
}
pre.prettyprint.linenums {
  border: none !important;
}
div#outputCtt> pre> ol> li> span> span> code> span {
  font-size: 14px !important;
  font-family: monaco, menlo !important;
}

/* 表格 */
table th {
  white-space: nowrap; /*表头内容强制在一行显示*/
}

thead, tbody {
  font-size: 12px;
}

div.notice {
  background: red;
}

div.screenshot {
  background: #ccc;
  border: 1px solid red;
}
